IoT_Architecture/Labs/part4_inputs_outputs/lab4_photoresistor_app/nodered-v1.json
[
    {
        "id": "371530e9.5d95c",
        "type": "tab",
        "label": "Version 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "cd5849e.09c7ab8",
        "type": "ui_tab",
        "z": "",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "f7cb18bc.f70648",
        "type": "ui_group",
        "z": "",
        "name": "Accueil",
        "tab": "22ff4ce.337b7b4",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": true
    },
    {
        "id": "5629671b.efba48",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "22ff4ce.337b7b4",
        "type": "ui_tab",
        "z": "",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "6c33d492.e785dc",
        "type": "serial-port",
        "z": "",
        "serialport": "COM10",
        "serialbaud": "115200",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "waitfor": "",
        "dtr": "none",
        "rts": "none",
        "cts": "none",
        "dsr": "none",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": "",
        "responsetimeout": "10000"
    },
    {
        "id": "d208680c.d38638",
        "type": "serial in",
        "z": "371530e9.5d95c",
        "name": "",
        "serial": "6c33d492.e785dc",
        "x": 180,
        "y": 320,
        "wires": [
            [
                "1947183.c672ce8"
            ]
        ]
    },
    {
        "id": "16ff7a50.5aff66",
        "type": "serial out",
        "z": "371530e9.5d95c",
        "name": "",
        "serial": "6c33d492.e785dc",
        "x": 620,
        "y": 440,
        "wires": []
    },
    {
        "id": "1947183.c672ce8",
        "type": "ui_gauge",
        "z": "371530e9.5d95c",
        "name": "",
        "group": "f7cb18bc.f70648",
        "order": 2,
        "width": "6",
        "height": "6",
        "gtype": "gage",
        "title": "Photoresistor",
        "label": "mV",
        "format": "{{value}}",
        "min": 0,
        "max": "3000",
        "colors": [
            "#6488f2",
            "#e1ff00",
            "#d9d9d9"
        ],
        "seg1": "1500",
        "seg2": "2000",
        "className": "",
        "x": 530,
        "y": 320,
        "wires": []
    },
    {
        "id": "bdf433e.8154bd",
        "type": "function",
        "z": "371530e9.5d95c",
        "name": "Compute",
        "func": "var led_state = msg.payload;\nif (led_state === false)\n    msg.payload = \"WHITE:1000\";\nelse\n    msg.payload = \"BLUE:500\";\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 440,
        "y": 440,
        "wires": [
            [
                "16ff7a50.5aff66"
            ]
        ]
    },
    {
        "id": "a9ecb0a4.10665",
        "type": "ui_switch",
        "z": "371530e9.5d95c",
        "name": "",
        "label": "BLUE/WHITE LED",
        "tooltip": "",
        "group": "f7cb18bc.f70648",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 230,
        "y": 440,
        "wires": [
            [
                "bdf433e.8154bd"
            ]
        ]
    }
]